.add-project-container{
  margin-top: 1rem;
  padding:0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-add-project {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  padding: 1rem;
  background-color: hsla(0, 0%, 67%, 0.178);
  color: white;
}
  
.input-add-project-submit {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  padding: 1rem;
  background-color: hsla(0, 0%, 67%, 0.178);
  color: white;
  width: 3.5rem;
}

label {
    margin-right: 1rem;
}