footer {
    position: relative;
    bottom: 0; 

    height:6vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    
    color: white;
    background-color: rgb(0, 0, 0);
}

footer>p {
    margin: 0 0;
}