footer {
    height:.5rem;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 0; 
    /* overflow: hidden; */

    padding:1rem 0;
    
    color: white;
    background-color: rgb(0, 0, 0);
}