.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-signup {
    display: flex;
    width: 275px;
    justify-content: flex-end;
    margin-bottom: .5rem;
    padding: 1rem;
    background-color: hsla(0, 0%, 67%, 0.178);
    color: white;
}

.input-signup-submit {
    display: flex;
    justify-content: center;
    width: 3.5rem;
    margin: 1rem auto;
    padding: 1rem;
    background-color: hsla(0, 0%, 67%, 0.178);
    color: white;
}

label {
    margin-right: 1rem;
}