:root {
  --red: rgba(255, 0, 0, 0.384)
}

.App {
  min-height: 86vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid yellow; */
  color: white;
  
  margin-top: 6vh;
  padding: 1vh;

  overflow-y: auto;
}


.emphasize{
  font-size: 2rem;
  color: orange;
}

.border-red {
  border:2px solid var(--red);
  border-radius: .5rem;
}

.border-radius {
  border-radius: .5rem;
}

.valid {
  background-color: rgba(0, 128, 0, 0.384);
}
.error {
  background-color: var(--red);
}

.App-logo {
  height: 40vmin;
  width: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px){
  .App {
      min-height:82vh;
      margin-top: 10vh;
  }
}