nav {
    height:2rem;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0; 
    overflow: hidden;

    padding:1rem 0;
    
    color: white;
    background-color: rgb(0, 0, 0);
    /* border-bottom: solid white 3px; */
    /* border: solid white 5px; */
}

.nav-login-container {
    flex-direction: column;
    align-items: flex-start;
}

.nav-logout-container {
    align-items: center;
    justify-content: space-around;
}

.nav-username {
    margin:0 0
}

.logout-button {
    margin: 0 1rem
}

.login-error-message {
    margin: 0 0;
    color:rgb(179, 49, 49)
}

.nav-login-input-container {
    justify-content: space-between;
}

.nav-login-submit {
    margin: 0 1rem;
}

.nav-brand-link {
   color: rgb(255, 255, 255)
}
.nav-brand-link:hover {
    font-size: 1.05rem;
   color: red
}
