nav {
    height:2rem;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0; 
    overflow: hidden;

    padding:1rem 0;
    
    color: white;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}

.nav-login-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav-login-item {
    max-width: 5rem;
    margin-right: 1rem ;
}

.nav-username {
    margin-left: 1rem ;
}

.nav-logout-container {
    align-items: center;
    justify-content: space-around;
}

.logout-button {
    margin: 0 1rem
}

.login-error-message {
    margin: 0 1rem 0 0;
    color:rgb(179, 49, 49)
}

.nav-brand-link:hover {
    font-size: 1.05rem;
    color: red
}

a:-webkit-any-link.nav-brand-link {
    margin:0 1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}


@media screen and (max-width: 600px){
    .nav-input-container{
        flex-direction: column;        
    }
}