nav {
    position: fixed;
    top: 0; 

    height:6vh;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    
    color: white;
    background-color: rgb(0, 0, 0);
}


:-webkit-any-link.signup {
    font-size: .6rem;
    color:white;
    text-decoration: none;
    text-align: center;
}

.nav-brand-container {
    justify-content: center;
    align-items: center;
}

.nav-brand-link:hover {
    font-size: 1.025rem;
}

.nav-username {
    margin-left: 1rem ;
}

.nav-logout-container {
    align-items: center;
    justify-content: space-around;
}

.logout-button {
    margin: 0 1rem
}

a:-webkit-any-link.nav-brand-link {
    margin:0 1rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}


@media screen and (max-width: 600px){

    nav {
        height:11vh
    }
}